.scroll-pane:focused {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

.scroll-bar {
    -fx-pref-width: 20;
}

.decrement-button, .increment-button {
    -fx-pref-width: 20;
    -fx-pref-height: 20;
}