.tool-bar {
    -fx-padding: 0;
    -fx-border-width: 0;
}

.button {
    -fx-padding: 0;
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-border-image-width: 0;
    -fx-border-insets: 0;
    -fx-background-color: transparent, transparent, transparent, transparent;
}

.button:hover {
    -fx-background-color: transparent, rgba(17,176,232,0.15), rgba(17,176,232,0.15), transparent;
}

.button:armed {
    -fx-translate-x: 1;
    -fx-translate-y: 1;
    -fx-background-color: transparent, rgba(17,176,232,0.15), rgba(17,176,232,0.15), rgba(17,176,232,0.3);
}